//=============Imports Start=============
@use "../abstracts/" as *;
//=============Imports End===============

.section-about {
  background-color: $grey-l1;
  padding: 25rem 0;
  margin-top: -20vh;
  @include responsive(1024) {
    padding: 25rem 5rem;
    margin-top: -15vh;
  }
  @include responsive(400) {
    padding: 20rem 5rem;
  }
}
.section-features {
  background: linear-gradient(
      to right bottom,
      rgba($color-pr, 0.8),
      rgba($color-pd, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 20rem 0;
  margin-top: -10rem;
  @include responsive(1024) {
    padding: 15rem 4rem;
  }
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}
.section-packages {
  padding: 35rem 0 15rem;
  margin-top: -20vh;
  background-color: $grey-l1;
  @include responsive(1024) {
    padding: 20rem 0 4rem;
    margin-top: -10vh;
  }
}
.section-stories {
  padding: 15rem 0;
  position: relative;
  @include responsive(1024) {
    padding: 12rem 0;
  }
}
.section-book {
  background: linear-gradient(to right, $color-pl, $color-pd);
  padding: 15rem 0;
  @include responsive(600) {
    padding: 0;
  }
}
.book {
  width: 90%;
  margin: 0 auto;
  padding: 5rem;
  background: linear-gradient(
      105deg,
      rgba($white, 0.9) 0%,
      rgba($white, 0.9) 60%,
      transparent 60%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.2);
  &__form {
    width: 60%;
    padding: 5rem 0;
    @include responsive(800) {
      width: 100%;
      text-align: center;
    }
  }
  @include responsive(800) {
    background: linear-gradient(
      105deg,
      rgba($white, 0.9) 0%,
      rgba($white, 0.7) 80%
    );
    box-shadow: none;
    width: 100%;
  }
}
