//=============Imports Start=============
@use "../abstracts/" as *;
//=============Imports End===============

.feature-box {
  background: rgba($white, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  transition: all 0.2s ease-out;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.2);
  @include responsive(600) {
    width: 70%;
    margin: 5rem auto;
  }
  &__icon {
    font-size: 6rem;
    display: inline-block;
    background: linear-gradient(to right, $color-pr, $color-pd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include responsive(600) {
      font-size: 7rem;
    }
  }
  &:hover {
    transform: translateY(-1rem) scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba($black, 0.2);
  }
}
