//==========================================
// Color Palette
//==========================================
$color-pl: #7ed56f;
$color-pr: #55c57a;
$color-pd: #28b485;

$color-sl: #ffb900;
$color-se: #ff7730;

$color-tl: #2998ff;
$color-te: #5643fa;

$grey-l1: #f7f7f7;
$grey-l2: #eee;
$grey-d1: #777;
$grey-d2: #333;

$white: #fff;
$black: #000;

//==========================================
// Grid
//==========================================
$grid-width: 110rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
$gutter-vertical-sm: 3rem;
$gutter-horizontal-sm: 4rem;
